{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}{{!
    @template block_topicwordcloud/cloud
    Render the visible word cloud.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * haswords, words, emptycloud

    Example context (json):
    {
        "haswords": true,
        "words": [{"word": "Moodle", "count": 2, "size": 32, "colorindex": 0}],
        "emptycloud": "No words yet"
    }
}}
{{#haswords}}
    <div class="block-topicwordcloud__cloudinner">
        {{#words}}
            <span class="block-topicwordcloud__word block-topicwordcloud__word--{{colorindex}}"
                style="font-size:{{size}}px"
                title="{{word}} ({{count}})">
                {{word}}
            </span>
        {{/words}}
    </div>
{{/haswords}}
{{^haswords}}
    <p class="block-topicwordcloud__empty">{{emptycloud}}</p>
{{/haswords}}